.thing1 { grid-area: a; }
.thing2 { grid-area: b; }
.thing3 { grid-area: c; }
.thing4 { grid-area: d; }
.thing5 { grid-area: e; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'a'
    'b'
    'c'
    'd'
    'e';
  gap: 8px;
  background-color: #0000ff;
  padding: 1px;
}

.grid-container > div {
    text-align:left;
}