
.thing1 { grid-area: a; }
.thing2 { grid-area: b; }
.thing3 { grid-area: c; }
.thing4 { grid-area: d; }
.thing5 { grid-area: e; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'a a a a a a'
    'b b b b b b'
    'c c c c c d'
    'c c c c c d'
    'e e e e e e';
  gap: 8px;
  background-color: #00ff00;
  padding: 1px;
}

.grid-container > div {
    text-align:left;
}